@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;


.info-stocks {
    display: flex;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-evenly;
    
}

.number-stocks{margin-left: 25%};


.instruction-stocks{margin-right: 40%;font-size: 24px; font-weight: 600}

.stock-input {
    height: 1rem;
    border: solid .0625rem $primary-indigo;
    border-radius: .25rem;
    // background-color: $background-grey ;
    padding-left: .5rem;
    width: 11%;
}

.stocks {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // background-image: linear-gradient(288deg, rgb(126, 144, 181) 1.5%, rgb(210, 218, 227) 10%);

}

.Stock1 {
    width: 50%;
    margin: 0;
    // background-image: linear-gradient(288deg, rgb(126, 144, 181) 1.5%, rgb(210, 218, 227) 10%);
}