@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;

.form-field{    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: x-large;}



.button__home {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 40%;
    height: 3rem;
    width: 30%;
    padding-bottom: 7%;
    font-size: 20px;
}

.button__home:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button__home 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button__home {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button__home:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.bottom-wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 81px;
}

.bottom-wave .shape-fill {
    fill: #000000;
}

.home__logo {
    height: 45vh;
    padding-left: 13%;
    border-radius: 0%;
    object-fit: inherit;
    aspect-ratio: initial;

}

.hero-section__container {
    height: 100%;
    width: 100%;
}

.hero-instructions__description {
    columns: 2;
    padding: 0.5rem;
}

.home__header {
    width: 70%;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
    font-size: xx-large;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 1rem;
}

.button__container {
    width: 10vw;
}


element.style {
    width: 280px;
}

.hero-instructions__header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.hero-instructions {
    display: flex;
    width: 100%;
}




.hero-instructions__instruction {
    background-color: white;
    width: 50%;
    border: solid rgba(0, 0, 0, 1);
    border-width: thin;
    border-radius: .3125rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
}

.hero-instructions__title {
    padding: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.hero-instructions__numbers {
    margin-left: 42%;
    padding-top: 1rem; 
    width: 60px;
    height: 73.594px;
}