@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;

ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.index-card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.index-card__name {
    margin: 0;
    color: rgba(225, 225, 225, 0);
    background-image: url("https://i.pinimg.com/564x/7f/36/31/7f3631338b510f536dd3626dda7551be.jpg");
    background-repeat: repeat;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.index-card__text {
    font-size: .75rem;
    line-height: 1.5
}

.index-card__subheader {
    @include td-h2-subheader;
    padding-top: 1rem;
    padding-bottom: 8px;
    font-size: 1.125rem;
}

.index-card__takeaways {
    font-size: .8125rem;
    line-height: 1.5
}