@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;

ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.index-card {
    background-color: aliceblue;
    padding: 1rem
}

.index-card__name {
    margin: 0;
    // font-size: 150px;
    color: rgba(225, 225, 225, 0);
    background-image: url("https://images.unsplash.com/photo-1593959734793-6e92d102da1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: repeat;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
}

.index-card__text {
    font-size: 12px;
    line-height: 1.5
}

.index-card__subheader {
    @include td-h2-subheader;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

.index-card__takeaways {
    font-size: 13px;
    line-height: 1.5
}