@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;


.filter-input {
  border-radius: 5px;
  background-color: black;
  font-size: 15px;
}

.filter-input::placeholder {
  color: white
}

.filter-input:focus {
  color: white
}

.stock-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 40%;
  height: 3rem;
  width: 17%;
  padding-bottom: 1%;
  font-size: 20px;
}

.stock-button:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-stock-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-stock-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.stock-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.top-wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-wave svg {
  position: relative;
  display: block;
  width: calc(172% + 1.3px);
  height: 81px;
}

.top-wave .shape-fill {
  fill: #000000;
}


.stocks-header {
  display: flex;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  align-items: center;
  padding-left: 9.5rem;
}

.stocks-header__numbers {
  margin-left: 25%
}

;


.stocks__instruction {
  margin-right: 30%;
  font-size: 24px;
  font-weight: 600;
  color: black;
  width: 100%;
}


.stock-weights__inputs {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}


.stock-input {


  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

}

.stocks-cards {
  margin-top: 3%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);

}

.stocks-cards__stock1,
.stocks-cards__stock2,
.stocks-cards__stock3 {


  background-color: white;
  width: 30%;
  border: solid rgba(0, 0, 0, 1);
  border-width: thin;
  border-radius: .3125rem;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);

}




.tickers {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.swal2-styled.swal2-confirm {
  display: none;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #ffffff;
  color: #fff;
  font-size: 1em;
}

.stockfilter {
  padding-left: 6%;
}

.stock-weights {
  padding: 1% 0% 0% 25%;
}

// .error  {border-color: #ff0000; }

.custom-shape-divider-bottom-1684027880 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684027880 svg {
  position: relative;
  display: block;
  width: calc(172% + 1.3px);
  height: 81px;
}

.custom-shape-divider-bottom-1684027880 .shape-fill {
  fill: #000000;
}

.tickers__input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: x-large;
}



.stock-weights__input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: x-large;
  text-align: center;
}

.stocks-card__error-message {color: red; text-align: center; font-weight: 600;}

// .stocks-card__error-message1 {}

// .stocks-card__error-message2 {}