@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;


.index-page{display: flex; flex-direction: column;}

.info {
    display: flex;
    background-color: #ffffff;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-left: 7%;

}

.number {
    margin-left: 25%
}

.instruction {
    margin-right: 30%;
    font-size: 24px;
    font-weight: 600; color:black;
    width: 100%;
}



.indexes {
    background-color: white;
    width: 30%;
  border: solid rgba(0, 0, 0, 1);
  border-width:thin;
  border-radius: .3125rem;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);

}

.graph {
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    padding-top: 0rem;
}

.graph__title {
    margin-left: 25%;
}


.etf {
    display: flex;
    justify-content: space-around
}




.button-85-container {margin-left: 5rem; padding: 1rem 0;}


.custom-shape-divider-bottom-1684027880 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1684027880 svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1684027880 .shape-fill {
    fill: #000000;
}

.graph-button {display: flex;display: flex;
    flex-direction: column;
    align-items: center;}

.button-855 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // margin-left: 20%;
    height: 3rem;
    width: 20rem;
    font-size: 20px;
  }
  
  .button-855:before {
    content: "";
    background: linear-gradient(45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-855 {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .button-855:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  