@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;



.description {
    @include td-p3-body-small;
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial;
}


.index__income-date,
.index__sales-growth,
.index__gross-margin,
.index__ebitda-margin,
.index__net-margin,
.index__balance-dates,
.index__current-ratio,
.index__leverage-ratio,
.index__roe,
.index__roa


{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


