@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;



.description {
    @include td-p3-body-small;
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial;
}


.index_income-date,
.index_sales-growth {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


